<!-- src/app/cruds/Course/course-list/course-list.component.html -->
<div class="container">
    <h2>Liste des Cours de Dan se</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Contenu</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{ course.title }}</td>
          <td>{{ course.content }}</td>
          <td>
            <button (click)="editCourse(course.id)" class="btn btn-warning">Modifier</button>
            <button (click)="deleteCourse(course.id)" class="btn btn-danger">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    <a routerLink="/main/courses/add" class="btn btn-success">Ajouter un Cours</a>
  </div>