<!-- src/app/cruds/DanceCategory/dance-category-list/dance-category-list.component.html -->
<div class="container">
  <h2>Liste des Catégories de Danse</h2>
  <button routerLink="/main/categories/add" class="btn btn-primary">Ajouter une Catégorie</button>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>
          <button (click)="editCategory(category.id)" class="btn btn-warning">Modifier</button>
          <button (click)="deleteCategory(category.id)" class="btn btn-danger">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>