<!-- src/app/app.component.html -->
<div class="app-container">
  <header class="header">
    <h1>Gestionnaire des Catégories de Danse</h1>
  </header>

  <div class="main-content">
    <nav class="navbar">
      <ul class="nav-list">
        <li><a routerLink="/main/categories" class="nav-link">Catégories</a></li>
        <li><a routerLink="/main/schools" class="nav-link">Écoles de Danse</a></li>
        <li><a routerLink="/main/courses" class="nav-link">Cours de Danse</a></li>
      </ul>
    </nav>

    <aside class="sidebar">
      <h3>Actions Rapides</h3>
      <ul class="sidebar-list">
        <li><a routerLink="/main/categories/add" class="sidebar-link">Ajouter une Catégorie</a></li>
        <li><a routerLink="/main/schools/add" class="sidebar-link">Ajouter une École</a></li>
        <li><a routerLink="/main/courses/add" class="sidebar-link">Ajouter un Cours</a></li>
      </ul>
    </aside>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; Développé par Barry Ismaïla</p>
    <p>Email: <a href="mailto:ismaila.barry@esprit.tn">ismaila.barry@esprit.tn</a></p>
    <p>Téléphone: <a href="tel:+21628628416">+216 28 62 84 16</a></p>
  </footer>
  
</div>