<h1>Bienvenue dans le gestionnaire des catégories de danse</h1>

<nav>
  <ul>
    <li><a routerLink="categories">Liste des catégories</a></li>
    <li><a routerLink="categories/add">Ajouter une catégorie</a></li>
    <li><a routerLink="schools">Liste des écoles de danse</a></li> <!-- Lien vers la liste des écoles -->
    <li><a routerLink="schools/add">Ajouter une école de danse</a></li> <!-- Lien vers l'ajout d'une école -->
  </ul>
</nav>

<!-- Cette balise affichera les composants selon la route -->
<router-outlet></router-outlet>